td {
    vertical-align: middle;
}

.input-group-text {
    border-radius: .25rem 0rem 0rem .25rem;
}

.btn-danger {
    margin-left: 5px;
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}
/* 
thead {
    background-color: #0d6efd;
    color: white;
}
*/